body{
    font-family: sans-serif;
    background-image: linear-gradient(90deg, #2BC0E4 10%,#EAECC6 90%);
}
h1{
    background-color: #2980b9;
    color: white;
    margin: 0px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

span{
    background-color: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}
li:hover span{
    width: 40px;
    opacity: 1.0;
    
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0,0,0,0);
}
input:focus{
    background-color: #fff;
    border: 3px solid #2980b9;
    outline: none;
}
li{
    background-color: white;
    height: 40px;
    line-height: 40px;
    color:#666;
}
li:nth-child(even){
    background-color: #f7f7f7;
}
#container{
    width: 360px;
    margin: 100px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
.completed{
    color: gray;
    text-decoration: line-through;
}
.fa-plus{
    float: right;
}